<html>

<head>
    <title>{{ title }}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <a href="/">
        <h1 align="center" style="font-size:50px">APP Flow Mirror</h1>
    </a>
	<h2>The scan result</h2>	
	<h2>device: </h2>
  {% for device in devices %}
  <ul class="list-group list-group-flush">
  <li class="list-group-item">{{ device }}</li>
	</ul>
  {% endfor %}
  <h2>app: </h2>
  <ul class="list-group list-group-flush">
  {% for app in apps %}
    <li class="list-group-item">{{ app }}</li>
  {% endfor %}
  </ul>
</body>
<style type="text/css">
    a:link,
    a:visited {
        text-decoration: none;
        /*超链接无下划线*/
    }
</style>

</html>
